# Fichiers temporaires
*.out
*.toc
*.log
*.aux
*.swap
*.swp

# Fichiers Java
*.class
*.MF

# Fichiers Microsoft Project
*.mpp

# Exclure les exécutables sans extension sauf les Makefile
*.*
!Makefile
